*{
    margin: 0;
    padding: 0;
}
.header-section{
    position: relative;
    text-align: center;
    overflow: hidden ;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-responsive{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.hero-content h1{
    font-size: 4rem;
    margin-bottom: 30px;
    color: #F85606;
}
.hero-content p{
    font-size: 1.5rem;
    color: #DF13EA;
    margin-bottom: 30px;
}
.btn-custom{
    text-decoration: none;
    background-color: #F85606;
    padding: 15px 30px;
    border-radius: 50px;
    color: #0D6EFD;
    transition: background-color 0.5s ease;
}
.btn-custom:hover{
    background-color: #0D6EFD;
    color: azure;
    
}