* {
    margin: 0;
    padding: 0;
}

.header-section {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-responsive {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #F85606;
}

.hero-content p {
    font-size: 1.5rem;
    color: #DF13EA;
    margin-bottom: 30px;
}

.btn-custom {
    text-decoration: none;
    background-color: #F85606;
    padding: 15px 30px;
    border-radius: 50px;
    color: #0D6EFD;
    transition: background-color 0.5s ease;
}

.btn-custom:hover {
    background-color: #0D6EFD;
    color: azure;

}

.feature-section {
    padding: 60px 0px;
    background-color: #0D6EFD;
}

.feature-section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

.feature-card {
    padding: 30px;
    background-color: #CFC3C3;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: -10px 11px 5px 3px rgba(13, 12, 12, 0.22);
    -webkit-box-shadow: -10px 11px 5px 3px rgba(13, 12, 12, 0.22);
    -moz-box-shadow: -10px 11px 5px 3px rgba(13, 12, 12, 0.22);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translate(-10px);
}

.feature-card img {
    height: 80px;
    width: 80px;
    margin: 20px;
}

.feature-card h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.feature-card p {
    color: #F85606;
}
.checkout-section{
    padding: 60px 0px;
}